:root {
  --primary-text-color: #303030;
  --secondary-text-color: #555555;
  --light-text-color: #9da4bd;
  --light-text-color-alfa-sixty: rgba(157, 164, 189, 0.6);
  --light-text-color-alfa-fourty: rgba(157, 164, 189, 0.4);
  --accent-color: #ff6c00;
  --white-color: #fff;
  --secondary-background-color: #f7f7f7;
}

body {
  background-color: var(--white-color);
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.btn {
  padding: 12px 20px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--white-color);
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  min-width: 160px;
  height: 40px;
  cursor: pointer;
  display: block;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
}
.btn:hover, .btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.top-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-text::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
}

/* animation for logo */
@-webkit-keyframes logo-animation {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}
@keyframes logo-animation {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}
.header {
  position: absolute;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767.2px) {
  .container-header {
    margin: 0;
    padding-left: 31px;
  }
}

.thumb-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  z-index: 1;
  -webkit-animation-name: logo-animation;
          animation-name: logo-animation;
  -webkit-animation-duration: 3200ms;
          animation-duration: 3200ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.logo:hover, .logo:focus {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 70px;
  }
}

.logo-img {
  -webkit-transition: fill 300ms ease;
  transition: fill 300ms ease;
}
@media screen and (max-width: 767.2px) {
  .logo-img {
    fill: var(--white-color);
  }
}
.logo:hover .logo-img, .logo:focus .logo-img {
  fill: var(--accent-color);
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767.2px) {
  .header-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-item:not(:last-child) {
    margin-right: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .header-item:not(:last-child) {
    margin-right: 40px;
  }
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.1em;
  color: var(--white-color);
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}
.header-link:hover, .header-link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767.2px) {
  .header-tel-btn {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-tel-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}
@media screen and (min-width: 1200px) {
  .header-tel-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-color);
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}
.header-tel:hover, .header-tel:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .header-tel {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .header-tel {
    text-align: left;
    margin-right: 40px;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .header-btn {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header-btn {
    margin: 0;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767.2px) {
  .hero {
    width: 100%;
    padding: 0;
  }
}

.hero-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 90px;
  -webkit-transform: translate(20px);
          transform: translate(20px);
}
@media screen and (max-width: 767.2px) {
  .hero-soc {
    display: none;
  }
}

.hero-list {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 40px;
}

.hero-item:not(:last-child) {
  margin-right: 40px;
}

.hero-social {
  color: inherit;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}
.hero-social:hover, .hero-social:focus {
  color: var(--accent-color);
}

.hero-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url("../images/hero-img.jpg");
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 208px;
  padding-left: 31px;
  padding-bottom: 183px;
}
@media screen and (min-width: 768px) {
  .hero-content {
    padding-top: 280px;
    padding-left: 70px;
    padding-bottom: 234px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-content {
    padding-top: 272px;
    padding-left: 96px;
    padding-bottom: 206px;
  }
}

.hero-top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--light-text-color-alfa-sixty);
  margin-bottom: 20px;
}

.hero-title {
  font-size: 48px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: var(--white-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 72px;
    line-height: 1.1805555556;
  }
}

.hero-bottom-text {
  max-width: 306px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: var(--light-text-color);
}
@media screen and (min-width: 768px) {
  .hero-bottom-text {
    max-width: 350px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-bottom-text {
    max-width: 400px;
    font-size: 18px;
    line-height: 1.6666666667;
  }
}

@media screen and (min-width: 1200px) {
  .section-about {
    padding-top: 139px;
    padding-bottom: 121px;
  }
}

@media screen and (min-width: 768px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .about-list {
    height: 100%;
    display: block;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 64px;
  }
}

.about-item {
  display: none;
}
@media screen and (min-width: 768px) {
  .about-item {
    display: block;
  }
  .about-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about-item:not(:last-child) {
    margin-right: 30px;
  }
}

.about-top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.about-title {
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .about-title {
    font-size: 42px;
    line-height: 1.1666666667;
  }
}

.about-bottom-text {
  font-size: 16px;
  line-height: 1.625;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .about-bottom-text {
    font-size: 18px;
    line-height: 1.6666666667;
  }
}

.about-text {
  font-size: 14px;
  line-height: 1.8571428571;
  color: var(--secondary-text-color);
  margin-bottom: 40px;
}

.about-btn {
  color: inherit;
}

.price {
  background-color: #111319;
  background-image: url("../images/price-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.price-top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--light-text-color-alfa-sixty);
  margin-bottom: 20px;
}

.price-title {
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: var(--white-color);
  margin-bottom: 44px;
}

.price-content {
  margin-bottom: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
@media screen and (min-width: 1200px) {
  .price-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: transparent;
  }
}

.price-list {
  padding: 30px;
  margin-bottom: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.price-list.left {
  padding-bottom: 0;
}
.price-list.right {
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .price-list {
    padding: 30px 40px;
  }
  .price-list.left {
    padding-bottom: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .price-list.right {
    padding-top: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.price-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.price-item:not(:last-child) {
  margin-bottom: 20px;
}
.price-item .price-item-text {
  font-size: 14px;
  line-height: 2.1428571429;
  color: var(--light-text-color);
}
@media screen and (min-width: 768px) {
  .price-item .price-item-text {
    font-size: 18px;
    line-height: 1.6666666667;
  }
}

.price-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.price-count::before {
  content: "";
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 6px;
  margin-right: 6px;
}

.price-btn {
  margin: 0 auto;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (min-width: 1200px) {
  .benefits {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.benefits-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .benefits-left {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.benefits-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .benefits-list {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list {
    width: 370px;
    margin-right: 130px;
  }
}

.benefits-item {
  background-color: var(--secondary-background-color);
  width: 44%;
  height: 133px;
  padding: 20px 35px;
}
.benefits-item:last-child {
  padding: 20px;
}
.benefits-item:nth-child(2n+1) {
  margin-right: 30px;
}
.benefits-item:nth-child(2n) {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .benefits-item {
    width: 210px;
    padding: 20px 44px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-item {
    width: 170px;
    padding: 20px 24px;
  }
}

.benefits-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.05em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.benefits-count::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: var(--accent-color);
  -webkit-transform: translatey(7px);
          transform: translatey(7px);
  margin-left: 2px;
}

.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.01em;
}

@media screen and (min-width: 768px) {
  .benefits-right {
    max-width: 500px;
  }
}

.benefits-top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.benefits-title {
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.benefits-bottom-text {
  font-size: 18px;
  line-height: 1.6666666667;
  color: var(--secondary-text-color);
  margin-bottom: 44px;
}
@media screen and (min-width: 1200px) {
  .benefits-bottom-text {
    margin-bottom: 0;
  }
}

.masters {
  background-color: var(--secondary-background-color);
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .masters .container {
    width: 448px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .masters .container {
    width: 480px;
  }
}

.masters-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.masters-title {
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  margin-bottom: 44px;
}

@media screen and (min-width: 1200px) {
  .masters-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.masters-item:not(:last-child) {
  margin-bottom: 64px;
}
@media screen and (min-width: 1200px) {
  .masters-item:not(:last-child) {
    margin-bottom: 0;
  }
}

.masters-img {
  width: 100%;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 108, 0, 0.4);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}
.thumb:hover .overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.overlay-first {
  -webkit-transform: translatex(-100%);
          transform: translatex(-100%);
}

.overlay-second {
  -webkit-transform: translatey(-100%);
          transform: translatey(-100%);
}

.overlay-third {
  -webkit-transform: translatex(100%);
          transform: translatex(100%);
}

.overlay-text {
  font-size: 61px;
  line-height: 1.1;
  letter-spacing: 0.05em;
  color: var(--white-color);
}

.masters-item-title {
  font-size: 18px;
  line-height: 1.3888888889;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 30px;
}

.masters-item-text {
  font-size: 14px;
  line-height: 1.3571428571;
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  background-color: var(--white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-text-color);
  -webkit-transition: fill 300ms ease;
  transition: fill 300ms ease;
}
.social-link:hover .social-icon, .social-link:focus .social-icon {
  fill: var(--accent-color);
}

.gallery-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.9090909091;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .gallery-text {
    line-height: 1.3636363636;
  }
}

@media screen and (min-width: 768px) {
  .gallery-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767.2px) {
  .gallery-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .gallery-item {
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-item {
    -ms-flex-preferred-size: calc(25% - 30px);
        flex-basis: calc(25% - 30px);
  }
}

.gallery-img {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .online-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.thumb-form {
  padding-bottom: 84px;
}
@media screen and (min-width: 1200px) {
  .thumb-form {
    width: calc(50% + 15px);
    padding-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .inputs {
    margin-bottom: 44px;
  }
}

.online-title {
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .online-title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .online-input-small {
    width: 260px;
  }
}

.online-input {
  width: 100%;
  height: 24px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--light-text-color-alfa-fourty);
  color: var(--white-color);
  outline: none;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .online-input {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .online-input {
    width: 270px;
    margin-bottom: 44px;
  }
}

.online-text {
  width: 100%;
  height: 76px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--light-text-color-alfa-fourty);
  resize: none;
  margin-bottom: 44px;
  color: var(--white-color);
  outline: none;
}

.online-input:focus,
.online-text:focus {
  border-color: var(--white-color);
}

.online-input:focus::-webkit-input-placeholder, .online-text:focus::-webkit-input-placeholder {
  color: var(--white-color);
}

.online-input:focus::-moz-placeholder, .online-text:focus::-moz-placeholder {
  color: var(--white-color);
}

.online-input:focus:-ms-input-placeholder, .online-text:focus:-ms-input-placeholder {
  color: var(--white-color);
}

.online-input:focus::-ms-input-placeholder, .online-text:focus::-ms-input-placeholder {
  color: var(--white-color);
}

.online-input:focus::placeholder,
.online-text:focus::placeholder {
  color: var(--white-color);
}

.online-input::-webkit-input-placeholder, .online-text::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--light-text-color-alfa-fourty);
}

.online-input::-moz-placeholder, .online-text::-moz-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--light-text-color-alfa-fourty);
}

.online-input:-ms-input-placeholder, .online-text:-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--light-text-color-alfa-fourty);
}

.online-input::-ms-input-placeholder, .online-text::-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--light-text-color-alfa-fourty);
}

.online-input::placeholder,
.online-text::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--light-text-color-alfa-fourty);
}

.btn-form {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .btn-form {
    margin: 0;
  }
}

.section-contacts {
  background-color: #191c26;
  background-image: url("../images/contacts-bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .section-contacts {
    min-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .section-contacts {
    background-position: right;
    background-size: calc(50% - 15px);
    margin: 0 auto;
  }
}

.contacts-content {
  padding-top: 84px;
}
@media screen and (min-width: 1200px) {
  .contacts-content {
    width: calc(50% - 15px);
    padding-left: 100px;
  }
}

.contacts-title {
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .contacts-title {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .contacts-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-address {
    display: block;
  }
}

.contacts-list {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .contacts-list {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    margin-bottom: 70px;
  }
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 18px;
  line-height: 1.6666666667;
  color: var(--light-text-color);
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}
.contacts-link:hover, .contacts-link:focus {
  color: var(--accent-color);
}

.contacts-link-tel {
  font-size: 18px;
  line-height: 1.6666666667;
  color: var(--light-text-color);
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}
.contacts-link-tel:hover, .contacts-link-tel:focus {
  color: var(--accent-color);
}

.contacts-link-mail {
  font-size: 18px;
  line-height: 1.6666666667;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--light-text-color);
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}
.contacts-link-mail:hover, .contacts-link-mail:focus {
  color: var(--accent-color);
}

.contacts-text {
  font-weight: 600;
  font-style: normal;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.contacts-time {
  font-size: 18px;
  font-style: normal;
  line-height: 1.6666666667;
  color: var(--light-text-color);
}

.footer {
  background-color: var(--secondary-background-color);
}
.footer .container {
  padding-top: 44px;
  padding-bottom: 44px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  color: var(--light-text-color);
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .footer-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 40px;
}

.footer-item:not(:last-child) {
  margin-right: 40px;
}

.footer-social {
  color: inherit;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
}
.footer-social:hover, .footer-social:focus {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5568627451);
  z-index: 2;
  opacity: 1;
  -webkit-transition: opacity 600ms ease, visibility 600ms ease;
  transition: opacity 600ms ease, visibility 600ms ease;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 50px 20px 20px 20px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  -webkit-transition: opacity 600ms ease, visibility 600ms ease, -webkit-transform 600ms ease;
  transition: opacity 600ms ease, visibility 600ms ease, -webkit-transform 600ms ease;
  transition: transform 600ms ease, opacity 600ms ease, visibility 600ms ease;
  transition: transform 600ms ease, opacity 600ms ease, visibility 600ms ease, -webkit-transform 600ms ease;
  min-width: 450px;
  min-height: 450px;
  background: var(--primary-text-color);
  background-image: url(../images/price-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(2.5);
          transform: translate(-50%, -50%) scale(2.5);
  opacity: 0;
  visibility: hidden;
}

.modal-form {
  width: 350px;
  margin: 0 auto;
}

.modal-text {
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 44px;
}

.online-input-modal,
.online-text-modal {
  width: 100%;
  border: solid 1px var(--white-color);
  border-radius: 5px;
}

.online-input-modal::-webkit-input-placeholder, .online-text-modal::-webkit-input-placeholder {
  color: var(--white-color);
  font-size: 13px;
}

.online-input-modal::-moz-placeholder, .online-text-modal::-moz-placeholder {
  color: var(--white-color);
  font-size: 13px;
}

.online-input-modal:-ms-input-placeholder, .online-text-modal:-ms-input-placeholder {
  color: var(--white-color);
  font-size: 13px;
}

.online-input-modal::-ms-input-placeholder, .online-text-modal::-ms-input-placeholder {
  color: var(--white-color);
  font-size: 13px;
}

.online-input-modal::placeholder,
.online-text-modal::placeholder {
  color: var(--white-color);
  font-size: 13px;
}

.online-input-modal:focus::-webkit-input-placeholder, .online-text-modal:focus::-webkit-input-placeholder {
  color: var(--accent-color);
}

.online-input-modal:focus::-moz-placeholder, .online-text-modal:focus::-moz-placeholder {
  color: var(--accent-color);
}

.online-input-modal:focus:-ms-input-placeholder, .online-text-modal:focus:-ms-input-placeholder {
  color: var(--accent-color);
}

.online-input-modal:focus::-ms-input-placeholder, .online-text-modal:focus::-ms-input-placeholder {
  color: var(--accent-color);
}

.online-input-modal:focus::placeholder,
.online-text-modal:focus::placeholder {
  color: var(--accent-color);
}

.online-input-modal:focus,
.online-text-modal:focus {
  border-color: var(--accent-color);
}

.online-input-modal {
  margin-bottom: 30px;
}

.modal-btn {
  margin: 0 auto;
}

.btn-close {
  font-weight: 700;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  color: var(--light-text-color);
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  cursor: pointer;
}
.btn-close:hover, .btn-close:focus {
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */