:root {
  --primary-text-color: #303030;
  --secondary-text-color: #555555;
  --light-text-color: #9da4bd;
  --light-text-color-alfa-sixty: rgba(157, 164, 189, 0.6);
  --light-text-color-alfa-fourty: rgba(157, 164, 189, 0.4);
  --accent-color: #ff6c00;
  --white-color: #fff;
  --secondary-background-color: #f7f7f7;
}

body {
  background-color: var(--white-color);

  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn {
  padding: 12px 20px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--white-color);

  border: 1px solid var(--accent-color);
  border-radius: 25px;

  background-color: transparent;

  min-width: 160px;
  height: 40px;

  cursor: pointer;
  display: block;

  transition: color 300ms ease;
  transition: background-color 300ms ease;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.top-text {
  display: flex;
  align-items: center;
}

.top-text::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
}

/* header */
.header {
  /* background-color: gray; */

  position: absolute;
  width: 100%;

  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 70px;

  z-index: 1;

  animation-name: logo-animation;
  animation-duration: 3200ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.logo:hover,
.logo:focus {
  animation-play-state: paused;
}

.logo-img {
  transition: fill 300ms ease;
}

.logo:hover .logo-img,
.logo:focus .logo-img {
  fill: var(--accent-color);
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  color: var(--white-color);

  transition: color 300ms ease;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-color);

  margin-right: 40px;
  margin-left: auto;

  transition: color 300ms ease;
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  display: flex;
}

.hero-soc {
  display: flex;
  align-items: flex-end;
  width: 90px;

  transform: translate(20px);
}

.hero-list {
  transform: rotate(-90deg);

  transform-origin: top left;

  display: flex;
  align-items: center;
}

.hero-list::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 40px;
}

.hero-item:not(:last-child) {
  margin-right: 40px;
}

.hero-social {
  color: inherit;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  transition: color 300ms ease;
}

.hero-social:hover,
.hero-social:focus {
  color: var(--accent-color);
}

.hero-content {
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url('../images/hero-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 272px 96px 206px 96px;

  flex-grow: 1;
}

.hero-top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--light-text-color-alfa-sixty);

  margin-bottom: 20px;
}

.hero-title {
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--white-color);

  margin-bottom: 20px;
}

.hero-bottom-text {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(30 / 18);
  color: var(--light-text-color);
}

/* about */
.section-about {
  padding-top: 139px;
  padding-bottom: 121px;
}

.about {
  display: flex;
}

.about-list {
  display: flex;
  margin-right: 64px;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.about-title {
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  margin-bottom: 20px;
}

.about-bottom-text {
  font-size: 18px;
  line-height: calc(30 / 18);
  color: var(--secondary-text-color);

  margin-bottom: 20px;
}

.about-text {
  font-size: 14px;
  line-height: calc(26 / 14);
  color: var(--secondary-text-color);

  margin-bottom: 40px;
}

.about-btn {
  color: inherit;
}

/* price */
.price {
  background-color: #111319;
  background-image: url('../images/price-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* max-width: 1280px; */
  margin: 0 auto;
}

.price-top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--light-text-color-alfa-sixty);

  margin-bottom: 20px;
}

.price-title {
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--white-color);

  margin-bottom: 44px;
}

.price-content {
  display: flex;
  justify-content: space-between;
}

.price-list {
  padding: 30px 40px;
  margin-bottom: 50px;

  flex-grow: 1;
}

.price-list.left {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list.right {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price-count {
  display: flex;
  align-items: baseline;
  flex-grow: 1;
}

.price-count::before {
  content: '';
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;

  margin-left: 6px;
  margin-right: 6px;
}

.price-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-item-text {
  font-size: 18px;
  line-height: calc(30 / 18);
  color: var(--light-text-color);
}

.price-btn {
  margin: 0 auto;
}

/* benefits */
.benefits {
  display: flex;
}

.benefits-list {
  /* width: 370px; */
  margin-right: 130px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.benefits-item {
  background-color: var(--secondary-background-color);
  width: 170px;
  height: 133px;
  padding: 20px 24px;
}

.benefits-item:last-child {
  padding: 20px;
}

.benefits-item:nth-child(2n + 1) {
  margin-right: 30px;
}

.benefits-item:nth-child(2n) {
  margin-top: 30px;
}

.benefits-count {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;

  display: flex;
  justify-content: center;
}

.benefits-count::after {
  content: '+';
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  color: var(--accent-color);

  transform: translatey(7px);

  margin-left: 2px;
}

.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  text-align: center;
  letter-spacing: 0.01em;
}

.benefits-top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.benefits-title {
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  margin-bottom: 20px;
}

.benefits-bottom-text {
  font-size: 18px;
  line-height: calc(30 / 18);
  color: var(--secondary-text-color);
}

/* masters */
.masters {
  background-color: var(--secondary-background-color);
}

.masters-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.masters-title {
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;

  margin-bottom: 44px;
}

.masters-list {
  display: flex;
  justify-content: space-between;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb:hover .overlay {
  transform: translatey(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 108, 0, 0.4);

  transition: transform 300ms ease;
}

.overlay-first {
  transform: translatex(-100%);
}

.overlay-second {
  transform: translatey(-100%);
}

.overlay-third {
  transform: translatex(100%);
}

.overlay-text {
  font-size: 61px;
  line-height: 1.1;
  letter-spacing: 0.05em;
  color: var(--white-color);
}

.masters-item-title {
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;

  margin-bottom: 8px;
  margin-top: 30px;
}

.masters-item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  color: var(--accent-color);

  margin-bottom: 30px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  background-color: var(--white-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--accent-color);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-text-color);

  transition: fill 300ms ease;
}

/* gallery */
.gallery-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.gallery-item {
  flex-basis: calc(100% / 4 - 30px);
  margin: 15px;
}

/* online */
.online-title {
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--white-color);
}

/* contacts */
.section-contacts {
  background-color: #191c26;

  background-image: url('../images/contacts-bg.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-size: calc(50% - 15px);
  /* max-width: 1280px; */
  margin: 0 auto;
}

.contacts-content {
  width: calc(50% - 15px);
  padding-left: 100px;
}

.online-contacts {
  display: flex;
  /* width: calc(50% - 15px);
  padding-left: 100px; */
}

.contacts-title {
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--white-color);

  margin-bottom: 40px;
}

.contacts-list {
  margin-bottom: 70px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 18px;
  line-height: calc(30 / 18);
  color: var(--light-text-color);

  transition: color 300ms ease;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts-link-tel {
  font-size: 18px;
  line-height: calc(30 / 18);
  color: var(--light-text-color);

  transition: color 300ms ease;
}

.contacts-link-tel:hover,
.contacts-link-tel:focus {
  color: var(--accent-color);
}

.contacts-link-mail {
  font-size: 18px;
  line-height: calc(30 / 18);
  text-decoration-line: underline;
  color: var(--light-text-color);

  transition: color 300ms ease;
}

.contacts-link-mail:hover,
.contacts-link-mail:focus {
  color: var(--accent-color);
}

.contacts-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-color);

  margin-bottom: 20px;
}

.contacts-time {
  font-size: 18px;
  line-height: calc(30 / 18);
  color: var(--light-text-color);
}

/* footer */
.footer {
  background-color: var(--secondary-background-color);
}

.footer .container {
  display: flex;

  padding-top: 55px;
  padding-bottom: 55px;

  justify-content: space-between;
  align-items: baseline;
}

.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  color: var(--light-text-color);
}

.footer-list {
  display: flex;
  align-items: center;
}

.footer-list::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 40px;
}

.footer-item:not(:last-child) {
  margin-right: 40px;
}

.footer-social {
  color: inherit;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  transition: color 300ms ease;
}

.footer-social:hover,
.footer-social:focus {
  color: var(--accent-color);
}

/* animation for logo */
@keyframes logo-animation {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1.7);
  }
}
