.section-about {
  @media screen and (min-width: 1200px) {
    padding-top: 139px;
    padding-bottom: 121px;
  }
}

.about {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.about-list {
  display: none;

  @media screen and (min-width: 768px) {
    height: 100%;
    display: block;
    margin-right: 30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-right: 64px;
  }
}

.about-item {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and(min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.about-top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.about-title {
  font-size: 28px;
  line-height: calc(33 / 28);
  letter-spacing: 0.05em;

  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    font-size: 42px;
    line-height: calc(49 / 42);
  }
}

.about-bottom-text {
  font-size: 16px;
  line-height: calc(26 / 16);

  color: var(--secondary-text-color);

  margin-bottom: 20px;

  @media screen and(min-width:1200px) {
    font-size: 18px;
    line-height: calc(30 / 18);
  }
}

.about-text {
  font-size: 14px;
  line-height: calc(26 / 14);
  color: var(--secondary-text-color);

  margin-bottom: 40px;
}

.about-btn {
  color: inherit;
}
