.section-contacts {
  background-color: #191c26;
  background-image: url('../images/contacts-bg-mob.png');
  background-repeat: no-repeat;

  background-position: bottom;
  background-size: contain;
  // min-width: 448px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/contacts-bg-mob-2x.png');
  }

  @media screen and (min-width: 768px) {
    min-width: 768px;

    background-image: url('../images/contacts-bg-tab.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/contacts-bg-tab-2x.png');
    }
  }

  @media screen and (min-width: 1200px) {
    background-position: right;
    background-size: calc(50% - 15px);
    margin: 0 auto;

    background-image: url('../images/contacts-bg.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/contacts-bg-2x.png');
    }
  }
}

.contacts-content {
  padding-top: 84px;

  @media screen and (min-width: 1200px) {
    width: calc(50% - 15px);
    padding-left: 100px;
  }
}

.contacts-title {
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--white-color);
  text-align: center;

  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.contacts-address {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.contacts-list {
  margin-bottom: 44px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 70px;
  }
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-link {
  font-size: 18px;
  line-height: calc(30 / 18);
  color: var(--light-text-color);

  transition: color 300ms ease;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-link-tel {
  font-size: 18px;
  line-height: calc(30 / 18);
  color: var(--light-text-color);

  transition: color 300ms ease;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-link-mail {
  font-size: 18px;
  line-height: calc(30 / 18);
  text-decoration-line: underline;
  color: var(--light-text-color);

  transition: color 300ms ease;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-link,
.contacts-link-mail,
.contacts-link-tel {
  display: inline-flex;
  align-items: center;
}

.icon-address,
.icon-phone,
.icon-mail {
  stroke: var(--light-text-color);
  margin-right: 16px;

  transition: stroke 300ms ease;
}

.contacts-link:hover .icon-address,
.contacts-link:focus .icon-address {
  stroke: var(--accent-color);
}

.contacts-link-tel:hover .icon-phone,
.contacts-link-tel:focus .icon-phone {
  stroke: var(--accent-color);
}

.contacts-link-mail:hover .icon-mail,
.contacts-link-mail:focus .icon-mail {
  stroke: var(--accent-color);
}

.contacts-text {
  font-weight: 600;
  font-style: normal;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-color);

  margin-bottom: 20px;
}

.contacts-time {
  font-size: 18px;
  font-style: normal;
  line-height: calc(30 / 18);
  color: var(--light-text-color);
}
