.footer {
  background-color: var(--secondary-background-color);

  & .container {
    padding-top: 44px;
    padding-bottom: 44px;

    justify-content: space-between;
    align-items: baseline;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row-reverse;

      padding-top: 55px;
      padding-bottom: 55px;
    }
  }
}

.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  color: var(--light-text-color);
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }

  &::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
    margin-right: 40px;
  }
}

.footer-item:not(:last-child) {
  margin-right: 40px;
}

.footer-social {
  color: inherit;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  transition: color 300ms ease;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
