.gallery-text {
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;

  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.gallery-item {
  flex-basis: calc(100% / 4 - 30px);
  margin: 15px;
}
