.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 70px;

  z-index: 1;

  animation-name: logo-animation;
  animation-duration: 3200ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  &:hover,
  &:focus {
    animation-play-state: paused;
  }
}

.logo-img {
  transition: fill 300ms ease;

  .logo:hover &,
  .logo:focus & {
    fill: var(--accent-color);
  }
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  color: var(--white-color);

  transition: color 300ms ease;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-color);

  margin-right: 40px;
  margin-left: auto;

  transition: color 300ms ease;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
