:root {
  --primary-text-color: #303030;
  --secondary-text-color: #555555;
  --light-text-color: #9da4bd;
  --light-text-color-alfa-sixty: rgba(157, 164, 189, 0.6);
  --light-text-color-alfa-fourty: rgba(157, 164, 189, 0.4);
  --accent-color: #ff6c00;
  --white-color: #fff;
  --secondary-background-color: #f7f7f7;
}
